.DS_Store
zOLD/.DS_Store
zOLD/260216/.DS_Store
__pycache__/
*.pyc
webfiles/הערכות תלמידים/תשפו/יא/לאחר פסח/פיסיקה 1 יא3-יא11 הרמס אלי (318) - 01_09_2025 - 10_04_2026 - דוח גמיש.xlsx
/Users/eliahuhermes/Desktop/VS code/edu apps/miscFiles/webfiles/הערכות תלמידים/תשפו/יב/לאחר פסח/פיסיקה 1 יב3-יב10 הרמס אלי (346) - 01_09_2025 - 09_04_2026 - דוח גמיש.xlsx